.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  width: 90%;
  padding: 0 5%;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
  }

  h2 {
    font-family: "korolev-compressed",sans-serif;
    letter-spacing: .175em;
    text-transform: uppercase;
    font-size: 2.15rem;
  }

  img {
    height: 2.75rem;
    margin-right: 1rem;
  }
}
